

.centerTop {
    
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.centerTopWrapper {
    padding: 70px;
    width:70%;
    
}


.objective {
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin: 30px 0;
}

.education {
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    margin:0;
}

.centerBottom {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.email {
    display:flex;
    align-items: center;
    justify-content: center;
    left:0px; 
    bottom:0px; 
    height:30px; 
    width:100%; 
    color: gery;
}